@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("./hamburger.css");
@import url("./tasks.css");

:root {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-light);

  --primary-dark: #333;

  --primary-light: #fff1f2;
  --red-100: #ffe4e6;
  --red-200: #fecdd3;
  --red-300: #fda4af;
  --red-400: #fb7185;
  --red-500: #f43f5e;
  --red-600: #e11d48;
  --red-700: #be123c;
  --red-800: #9f1239;
  --red-900: #881337;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  /* box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2); */
}

header > h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

main {
  padding: 2rem 4rem;
  color: var(--primary-dark);
}

.add-btn {
  font-size: 3.5rem;
  text-align: center;
  position: fixed;
  bottom: 5rem;
  right: 8rem;
  cursor: pointer;
  background-color: var(--red-600);
  border-radius: 50%;
  color: var(--primary-light);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;

  @media (max-width: 600px) {
    right: 4rem;
    bottom: 6rem;
  }
}

.add-btn:hover {
  transform: scale(1.1);
}
